@model System.Threading.Tasks.Task<Microsoft.Graph.IGroupMembersCollectionWithReferencesPage>

@{
  ViewBag.Current = "About";
}

<h2>SpFx Fields ... </h2>
@*<table class="table">
  <thead>
    <tr>
      <th scope="col">Attending</th>
    </tr>
  </thead>
  <tbody>
    @try
    {
    foreach (var item in Model.Result)
      {
        <tr>
          <td> @item.AdditionalData.Values.ToString()</td>
        </tr>
      }
  }
  catch (Exception e)
  {
    <tr>
      <td><b style="color: orangered">@e.Message</b></td>
    </tr>
  }
    </tbody>

  </table>*@




