@{
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <span>Welcome @ViewBag.User.DisplayName!</span>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
            </div>
        </div>
    }
    else
    {
        @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    }
</div>