@{
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <span>Welcome @ViewBag.User.DisplayName!</span>
        
    }
    else
    {
        @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    }
</div>